div{
  background-color:aquamarine;
  padding: 10px;
  border: 10px solid orangered;
  color:blue;
  text-align: justify;
  padding: 10px;
  font-size: 15px;
}
h1{
  text-align: center;
  text-decoration: underline;
  color:brown;
}